{{ if .Params.brand.enabled }}
{{$data := .Params.brand }}

<section class="section" style="order: {{$data.position}};">
    <div class="container">
        <div class="row mb-1">
            <div class="col-12">                                   
                <div class="section-heading text-center">
                    <h4 data-aos="zoom-in">{{$data.heading}}</h4>
                    {{with  $data.subHeading }}
                     <h5 data-aos="zoom-out">{{.}}</h5> 
                    {{end}}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12"> 
                {{$brand := .Site.Data.brand}} 
                <ul class="brand-list" data-aos="zoom-in">
                    
                    {{ range $brand  }}
                        <li><img src="{{.logo}}" alt="{{.name}}"> {{.Weight}}</li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
</section>

{{end}}