{{if .Params.contributor }}
<section class="section pt-1">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="contributor">
                    <h4>{{.Params.contributor.heading}}</h4>
                    <p>{{.Params.contributor.text | safeHTML}}</p>
                    <ul class="name-list row mt-4">
                        {{range .Params.contributor.name}}
                            <li class="col-md-4 offset-md-2">{{.}}</li>
                        {{end}}
                    </ul>
                </div>
            </div>
        </div>  
    </div>
</section>
{{end}}