{{ if .Params.cta.enabled }}
{{$data := .Params.cta }}

<section class="section" style="order: {{$data.position}};">
    <div class="container ">
        <div class="row mb-5">
            <div class="col-12 cta" data-aos="zoom-in" style="background-image: url({{$data.image}});">                                   
                <div class="cta-info">                   
                     <h4>{{$data.heading}}</h4>
                     <p>{{$data.subHeading}}</p> 
                     <div class="input-group subscribe">
                         <noscript>
                             <p style="margin: 0; padding: 0 0 40px; color: #2d2d2d; text-align: left">
                                Thank you for your interest in Fluentd. Unfortunately, our website requires JavaScript be enabled to use all the functionality. Please 
                                <a href="mailto:info@treasuredata.com?subject=Subscription to Fluentd Newsletter Request" style='text-decoration: underline;'>email us</a> 
                                to join the Fluentd newsletter.</p>
                        </noscript>
                        <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                        <script data-hubspot-rendered="true">
                          hbspt.forms.create({
                          region: "na1",
                          portalId: "19578475",
                          formId: "48af09cd-021c-440c-8578-b843d962e36c"
                        });
                        </script>
                        <div class="hbspt-form" id="hbspt-form-1643953315133-221004894">
                            <iframe title="form" id="hs-form-iframe-0" class="hs-form-iframe" scrolling="no" width="100%" style="width: 100%; color: #fff; position: static; border: none; display: block; overflow: hidden; height: 160px;" height="160"></iframe></div>
                        </div>


                     <form class="d-none">
                        <div class="input-group subscribe">
                            <input type="email" class="form-control" placeholder="Your email address">
                            <span class="input-group-btn">
                                <button class="btn btn-theme" type="submit">Send</button>
                            </span>
                        </div>
                     </form>
                </div>
            </div>
        </div>
    </div>
</section>
{{  end}}