{{ if .Params.features.enabled }}
{{$data := .Params.features }}
<section class="section features mt-5" style="order: {{$data.position}};">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">                                   
                <div class="section-heading text-left text-md-center">
                    <h4 data-aos="zoom-in" class="text-left text-md-center">{{$data.heading}}</h4>
                    {{with  $data.subHeading }}
                     <h5 data-aos="zoom-in-up" class="mx-auto">{{. | markdownify}}</h5> 
                    {{end}}
                </div>
            </div>
        </div>
        {{if eq $data.lists true }}        
            {{- partial "advantage.html" . -}}
        {{end}}

    
    </div>
</section>
{{end}}