<div class="row history">
    <div class="col-md-12 col-lg-6">
        <div class="his-img">
            <img src="{{.Params.history.image}}" alt="{{.Params.history.heading}}" class="img-fluid">
        </div>        
    </div>
    <div class="col-md-12 col-lg-6">        
        <div class="info mt-5">
            <h4 class="mb-4 text-left textmd-center">
                {{.Params.history.heading}}
            </h4>
            {{.Params.history.text | markdownify | safeHTML}}
        </div>
    </div>
</div>