{{ if .Params.howitworks.enabled }}
{{$data := .Params.howitworks }}
<section class="how-it-works">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7 animation-area">
                <img src="{{$data.image }}" alt="how it works" class="img-fluid">

                <div class="ani-text">
                    <pre id="typewriter">



                        <span class="var-highlight">$ curl -X GET http://192.168.2.3:9200/</span>  {
                            "name" : <span class="string-highlight"> "Janus"</span>,
                            "cluster_name" : <span class="string-highlight">"elasticsearch"</span>,
                            <span class="var-highlight">"version" :</span>  {   
                            "number" : <span class="string-highlight">"2.3.3"</span>,
                            "build_hash" :<span class="string-highlight">"218bdf10790eef486ff2c41a3df5cfa32dadcfde"</span>,
                            "build_timestamp" :           <span class="string-highlight">"2016-05-17T15:40:04Z"</span>,
                            "build_snapshot" :            <span class="string-highlight">false</span>,
                                "lucene_version" :            <span class="string-highlight">"5.5.0"</span>
                            },

                            "tagline" :            <span class="string-highlight">"You Know, for Search"</span>,


                        }
<!-- 
                        <span class="var-highlight">$ curl -X GET 'http://192.168.2.3:9200/fluentbit/_search'</span>
                    {<span class="string-highlight">"took":1,"timed_out":false,"_shards":{"total":5}</span>} -->
                        




                    </pre>
                </div>
            </div>
            <div class="col-md-6 col-lg-5">
                <h4>{{$data.info | safeHTML}}</h4>
                <ul class="mb-4">
                    {{range $data.lists}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
                <p><a href="{{$data.btnUrl | safeHTML}}" class="btn btn-border">{{$data.btnText | safeHTML}}</a></p>
            </div>
        </div>
    </div>
</section>

{{end}}