{{ if .Params.howitworks.enabled }}
{{$data := .Params.howitworks }}
<section class="how-it-works" style="order: {{$data.position}};">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-7 animation-area" data-aos="fade-right" data-aos-duration="2000">
                <img src="{{$data.image }}" alt="how it works" class="img-fluid howit-img">

                <div class="ani-text">
                    <pre id="typewriter">
                        <span class="ln">1</span><span class="var-highlight">[INPUT]</span>
                        <span class="ln">2</span>    Name <span class="string-highlight"> tail</span>
                        <span class="ln">3</span>    Tag  <span class="string-highlight">tail.01</span>
                        <span class="ln">4</span>    Path <span class="string-highlight">/var/log/system.log</span>

                        <span class="ln">5</span><span class="var-highlight">[OUTPUT]</span>                            
                        <span class="ln">6</span>    Name <span class="string-highlight">s3</span>
                        <span class="ln">7</span>    Match <span class="string-highlight">*</span>
                        <span class="ln">8</span>    bucket <span class="string-highlight">your-bucket</span>
                        <span class="ln">9</span>    region <span class="string-highlight">us-east-1</span>
                        <span class="ln">10</span>    store_dir <span class="string-highlight">/home/ec2-user/buffer</span>
                        <span class="ln">11</span>    total_file_size <span class="string-highlight">50M</span>
                        <span class="ln">12</span>    upload_timeout <span class="string-highlight">10m</span>

                        <span class="ln">13</span><span class="var-highlight">[OUTPUT]</span>
                        <span class="ln">14</span>    Name <span class="string-highlight">splunk</span>
                    </pre>
                </div>
            </div>
            <div class="col-md-12 col-lg-5" data-aos="fade-left" data-aos-duration="2000">
                <h4 class="text-gradient text-left mt-4">{{$data.info | safeHTML}}</h4>
                <ul>
                    {{range $data.lists}}
                    <li>{{.}}</li>
                    {{end}}
                </ul>
                <p><a href="{{$data.btnUrl | safeHTML}}" class="btn btn-gradient text-uppercase">{{$data.btnText | safeHTML}}</a></p>
            </div>
        </div>
    </div>
</section>

{{end}}