{{if .Params.latestVer }}
<section class="section latest-ver {{if .Params.latestVer.light}}light{{end}}">
    <div class="container">
        <div class="row">
            <div class="col"><h4>Lastest Version</h4></div>
        </div>
        <div class="row">
            <div class="col">
                <div class="ver-box">                 
                    <div class="row">
                        <div class="col-md-6 offset-md-6 info">
                            <h6>{{.Params.latestVer.subHeading}}</h6>
                            <h3 class="mb-2">{{.Params.latestVer.heading}}</h3>
                            {{if .Params.latestVer.text}}
                                <p>{{.Params.latestVer.text}}</p>
                            {{end}}
                            <div class="py-4"><a href="{{.Params.latestVer.btnUrl}}" class="btn-primary text-uppercase">{{.Params.latestVer.btnText}}</a></div> 
                            <p class="mt-2">
                                <small>{{.Params.latestVer.smallText | safeHTML}}</small>
                            </p>
                            
                        </div>
                    </div>   
                </div>
            </div>
        </div>

        {{if .Params.latestVer.bottomText}}
        <div class="row">
            <div class="col text-right">
                <a href="{{ .Params.latestVer.bottomUrl}}" class="read">{{ .Params.latestVer.bottomText}}</a>
            </div>
        </div>
        {{end}}

    </div>
</section>
{{ end }}
