{{if or (.Params.newChnagesColLeft) (.Params.newChnagesColRight) }}
<section class="section pt-1 new-changes">
    <div class="container">
        <div class="row">
            {{if .Params.newChangesHeading}}
                <div class="col-12">
                    <h4>{{ .Params.newChangesHeading | safeHTML }}</h4>
                </div>
            {{else}}
                <div class="col-12"> Changes
                    <h6>Fluent Bit {{ .Params.releaseNotes.version | safeHTML }} is the stable release!, new changes on this version:</h6>
                </div>
            {{end}}
            {{if .Params.newChangesText}}
                <div class="col-12">
                    <p>{{ .Params.newChangesText | safeHTML }}</p>
                </div>
            {{end}}
        </div>        
        <div class="row">
            <div class="col-md-6">
                {{range  .Params.newChnagesColLeft }}   
                    <p  class="mb-1"><strong>{{.heading}}</strong></p>
                    <ul class="pl-3 mt-0">
                        {{range  .lists }}
                            <li>{{. | safeHTML | markdownify}}</li>
                        {{end}}
                    </ul>
                {{end}}
            </div>
            <div class="col-md-6">
                {{range  .Params.newChnagesColRight }}   
                    <p class="mb-1"><strong>{{.heading}}</strong></p>
                    <ul class="pl-3  mt-0">
                        {{range  .lists }}
                            <li>{{. | safeHTML | markdownify }}</li>
                        {{end}}
                    </ul>
                {{end}}
            </div>
        </div>
    </div>
</section>
{{end}}