{{ if .Params.performance.enabled }}
{{$data := .Params.performance }}

<section class="section" id="{{$data.sectionId}}" style="order: {{$data.position}};">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">                                   
                <div class="section-heading text-center">
                    <h4 data-aos="zoom-in">{{$data.heading}}</h4>
                    {{with  $data.subHeading }}
                     <h5 data-aos="fade-up"  data-aos-easing="linear" data-aos-duration="1000">{{. | safeHTML }}</h5> 
                    {{end}}
                </div>
            </div>
        </div>
        <div class="row">
            {{range $data.lists }}  
                <div class="col-md-3 col-sm-6 performance-list"> 
                    <div class="icon" data-aos="flip-up" data-aos-easing="linear" data-aos-duration="300">
                        <img src="{{.icon}}" alt="{{.heading}}}">
                    </div>
                    <div class="heading" data-aos="zoom-in" data-aos-easing="linear" data-aos-duration="300">{{.heading}}</div>
                    <p data-aos="zoom-out-down" data-aos-easing="linear" data-aos-duration="300">{{.description}}</p>
                    <p data-aos="zoom-out-down" data-aos-easing="linear" data-aos-duration="300" class="text-gradient hightlight">{{.heightlightText}}</p>

                   

                </div>
            {{end}}
        </div>
    </div>
</section>

{{end}}