{{ define "main" }}    
    {{- partial "header.html" . -}}  
    <section class="overview">
        <div class="container">
            <div class="row top-overview py-100 pb-5">
                <div class="col-12 text-center">
                    <h5>{{.Params.hero.desc | safeHTML}} </h5>
                    <h2 class="my-3">{{.Params.hero.heading  | safeHTML }}</h2>
                    <img src="{{.Params.hero.image}}" alt="{{.Params.hero.heading}}" class="img-fluid mb-4">
                    <h6>{{.Params.hero.text | markdownify | safeHTML}}</h6>
                </div>
            </div>
            <div class="row d-none">
                <div class="col-12">
                    <div class="preferred text-center">
                        <h3 class="mb-5">{{.Params.preferred.heading | safeHTML }}</h3>
                        <img src="{{.Params.preferred.image}}" alt="preferred" class="img-fluid">
                    </div>

                </div>
            </div>            
           
            {{if eq .Params.advantage true }}  
                <div class="mt-2 mb-8">                      
                    {{- partial "advantage.html" . -}}
                </div>    
            {{end}}

            {{if .Params.history}}

                {{- partial "history.html" . -}}
            {{end}}
                
        </div>
    </section>   

{{ end }}